<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Delay in milliseconds per mouse key. Use -1 to disable double click fix for a key or remove the corresponding setting. -->
		<add key="leftThreshold" value="50" />
		<add key="rightThreshold" value="-1" />
		<add key="middleThreshold" value="-1" />
		<add key="x1Threshold" value="-1" />
		<add key="x2Threshold" value="-1" />
		<add key="languageOverride" value="" />
	</appSettings>
</configuration>
