<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Delay in milliseconds per mouse key. Use -1 to disable double click fix for a key or remove the corresponding setting. -->
		<add key="leftThreshold" value="50" />
		<add key="rightThreshold" value="-1" />
		<add key="middleThreshold" value="-1" />
		<add key="x1Threshold" value="-1" />
		<add key="x2Threshold" value="-1" />
		<!-- Used to ignore touch screen or touch pad double clicks. Usually the id of such a device is 0. But it can be modified here if needed. -->
		<add key="ignoredDevice" value="0" />
		<!-- Can be used to define a minimum delay of 0. Workaround for touch screen or touch pad recognition based on device id not working. To deactivate use -1. -->
		<add key="minDelay" value="-1" />
		<!-- Supported languages: en, de, es, fr, it. -->
		<add key="languageOverride" value="" />
	</appSettings>
</configuration>
